:root{
    --bs-font-sans-serif: 'Sofia Sans', sans-serif;
}

.container-xxl{max-width: 1560px;}

body{
    background-color: rgb(243,243,243);
    --color-error:#cc3333;
    --color-secondary:green;
    --color-success:green;
    --border-radius: 4px;
}
a {color: var(--bs-dark);}

.img-profile {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%; /* This will make it round */
}